<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ '/assets/main.css' | prepend: site.baseurl }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="main-container">
      {% include header.html %}

      <main>
        {{ content }}
      </main>

      <footer id="footer">
        <div class="footer-container">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-3 text-center text-md-left">
                <img
                  class="logo img-fluid"
                  src="{{ site.baseurl }}/assets/images/logo-bg.jpg"
                />
              </div>
              <div class="col-xs-12 col-md-6 text text-center footer-text">
                <p>
                  Copyright © Bermondsey Gallery. All rights reserved.
                </p>
              </div>
              <div class="col-xs-12 col-md-3 text-center text-md-right icons">
                <a href=""> <i class="fa fa-instagram"> </i> </a>
                <a href=""> <i class="fa fa-twitter"> </i> </a>
                <a href=""> <i class="fa fa-facebook"> </i> </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="{{
        '/assets/vendor/jquery.min.js' | prepend: site.baseurl
      }}"></script>
    <script src="{{
        '/assets/vendor/popper.min.js' | prepend: site.baseurl
      }}"></script>
    <script src="{{
        '/assets/vendor/bootstrap.min.js' | prepend: site.baseurl
      }}"></script>
  </body>
</html>
